* {
	box-sizing:border-box;
	margin: 0;
	padding:0;
	}
	.navbar-header{
		font-size: 1.7em;
		
		background-color:#808080;
		width:100%;
	}
	


	.navbar-brand {
  float: left;
  height: 50px;
 padding-top:25px;
 margin-left: 15px;
 font-weight: bold
 font-size:1.5em;
 text-transform: uppercase;
text-shadow: 1px 1px 1px #222;
  line-height: .75;
 
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

	.dropdown-toggle {
 position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid black;
  border-radius: 4px;
}
.dropdown-toggle span {
	float: right;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.dropdown-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
	}

/*.navbar-nav {
  margin: 7.5px -15px;
  float: right;
  padding-right: 30px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  float:right;
vertical-align: middle;
  clear: both;
  padding-right: 30px
}
#nav-list {
	margin-top: 10px;
	vertical-align: middle;
	
}
#nav-list a {
	color:#000000;
	text-align: center;
	text-decoration: none;
	 vertical-align: middle;
	float: right;
	clear :both;
}
#nav-list a span {
	float: right;
	margin-left: 100px;
	vertical-align: middle;
}
#nav-list a:hover {
	background: #ffffff;
	text-decoration: none;
}
#collapsable nav
{
	clear: both;
	float: right;
}*/
#dropdown-menu {
	padding: top:10px;
	float: right;
	vertical-align: right;
	text-align: right;
	clear: both;
}
#dropdown-menu list {
	font-size: 0.5em;
	float: right;
	font-weight: bold;
	vertical-align: right;
	color:#000000;
	text-align: right;
	clear: both;
}
#dropdown-menu a {
	padding-top: 10px;
	padding-bottom: 10px;
	float:right;
	vertical-align: right;
	text-align: right;
	clear:both;
}

h2 {
	text-align: center;
	font-size: 1.7em;
	clear: both;
	margin-top: 40px;
	color:#000000
	text-decoration:none;
}
h3 {
	text-align: center;
	font-size: 1.7em;
	clear: both;
	margin-top: 40px;
	color: #000000;

}
.row {
	width: 100%;
}
p {
	font-size:1.5em;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 40px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify-all;
	color: #000000;
}

div.box1 {
	width:1000px;
	height: 1000px;
	background-color: #808080;
	border: 1px solid black;
	padding-top:10px;
	 margin-right:40px;
  margin-left:50px;
	position: relative;
  float: left;
}
div.box2 {
	width:1000px;
	height: 1000px;
	background-color: #808080;
	border: 1px solid black;
	padding-top:10px;
  padding-bottom:10px;
  margin-right:40px;
  margin-top: 50px;
  margin-left:50px;
 position: relative;
 float: left;

}
div.box3 {
	width:1000px;
	height: 1000px;
	background-color: #808080;
	border: 1px solid black;
	padding-top:10px;
  padding-bottom:10px;
  margin-top: 50px;
  margin-right:40px;
  margin-left:50px;
 position: relative;
 float: left;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 767px) {
  .container {
    width: 750px;
   }
}
@media (min-width: 768px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*@media (min-width: 992px)
{
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
}
{
.col-md-12:100%
}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-sm-12:100%;
}
@media (max-width:767px) {

}
<span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Chicken</a>
              </li>
              <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Beef</a
              <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Sushi</a> <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class=dropdown class="nav navbar-nav navbar-right visible-xs">
              <li>Chicken<a href="index.html"class="pull right"><span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"></a>
              </li>
              <li>Beef<a href="index.html" class="pull right"><span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"></a>
              </li>
              <li>Sushi<a href="index.html" class="pull right"><span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"></a>
              </li>
            </ul>